@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
  --color-primary: #435CFF;
  --color-primary-hover: #3549E0;
  --color-secondary: #0D253F;
  --color-accent: #facc15;
  /* yellow-400 */
  --color-accent-hover: #eab308;
  /* yellow-500 */
}